<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Liste des candidats</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nom
                </th>
                <th>
                  Prenom
                </th>
                <th>
                  Email
                </th>
                <th class="text-right">
                  Pays
                </th>
                <th>
                  Operation
                </th>
               
              </thead>

              <tbody>
                <tr>
                  <td>
                    Ghodbane
                  </td>
                  <td>
                    Jawhar
                  </td>
                  <td>
                    jawharghod@gmail.com
                  </td>
                  <td class="text-right">
                    Algerie
                  </td>
                  <td>
                    <button type="button" class="btn btn-success">UPDATE</button>
                    <button type="button" class="btn btn-danger">DELETE</button>

                  </td>
                </tr>
               
                <tr>
                  <td>
                    Hidri
                  </td>
                  <td>
                    Rayen
                  </td>
                  <td>
                    raydr@gmail.com
                  </td>
                  <td class="text-right">
                    Maroc
                  </td>
                  <td>
                    <button type="button" class="btn btn-success">UPDATE</button>
                    <button type="button" class="btn btn-danger">DELETE</button>

                  </td>
                </tr>
               
                <tr>
                  <td>
                    ahmed
                  </td>
                  <td>
                    khmili
                  </td>
                  <td>
                    khemahmed@gmail.com
                  </td>
                  <td class="text-right">
                    Mali
                  </td>
                  <td>
                    <button type="button" class="btn btn-success">UPDATE</button>
                    <button type="button" class="btn btn-danger">DELETE</button>

                  </td>
                </tr>
            
                <tr>
                  <td>
                    Raoua
                  </td>
                  <td>
                    dridi
                  </td>
                  <td>
                    dridi@gmail.com
                  </td>
                  <td class="text-right">
                    Brazil
                  </td>
                  <td>
                    <button type="button" class="btn btn-success">UPDATE</button>
                    <button type="button" class="btn btn-danger">DELETE</button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-info">Add a candidat</button>

  </div>
</div>
