<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Liste des candidats</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">

                <th>
                  ID
                </th>
                <th>
                  Nom
                </th>
                <th>
                  Prenom
                </th>
                <th>
                  Email
                </th>
                <th>
                  Pays
                </th>
                <th>
                  Operation
                </th>
              
              </thead>

              
                <tr *ngFor="let candidat of candidats">
                  <td>{{ candidat._id }}</td>
                  <td>{{ candidat.nom }}</td>
                  <td>{{ candidat.prenom }}</td>
                  <td>{{ candidat.email }}</td>
                  <td>{{ candidat.pays_origine }}</td>

                  <td style="text-align:left;">
                    <button type="button" class="btn btn-success" [routerLink]="['/admin/candidats/update',candidat._id]">MODIFIER</button>
                    <button type="button" class="btn btn-danger" (click)="deleteCandidat(candidat._id)">SUPPRIMER</button>
                  </td>
                </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-info" routerLink="/admin/candidats/add">Ajouter un candidat</button>

  </div>
</div>
