<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Liste des candidatures</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nom
                </th>
                <th>
                  Prenom
                </th>
                <th>
                  Num_Passeport
                </th>

                <th>
                    date_deliv_passeport
                </th>
            <th>
                date_fin_passeport
            </th>

        <th>
            Section Bac
        </th>

        <th>
            Filiére
        </th>

        <th>
            Operation
        </th>
              </thead>

              <tbody>
                <tr>
                  <td>
                    Ghodbane
                  </td>
                  <td>
                    Jawhar
                  </td>
                  <td>
                    05489657521
                  </td>
                  <td class="text-right">
                    24/01/2015
                  </td>

                  <td class="text-right">
                    24/01/2015
                  </td>
                    <td>
                        Info
                    </td>
                    <td>DSI</td>
                  <td>
                    <button type="button" class="btn btn-success">UPDATE</button>
                    <button type="button" class="btn btn-danger">DELETE</button>

                  </td>
                </tr>
              
                <tr>
                    <td>
                      Hidri
                    </td>
                    <td>
                      Rayen
                    </td>
                    <td>
                    8564723654
                    </td>
                    <td class="text-right">
                      20/11/2019
                    </td>
  
                    <td class="text-right">
                      24/01/2025
                    </td>
                      <td>
                          Technique
                      </td>
                      <td>Administration d'affaires</td>
                    <td>
                      <button type="button" class="btn btn-success">UPDATE</button>
                      <button type="button" class="btn btn-danger">DELETE</button>
  
                    </td>
                  </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>
